fastapi
uvicorn
pydantic
httpx
grpcio
grpcio-tools
protobuf
networkx
numpy
scipy
pandas
matplotlib
# Install the synthesizer package directly from GitHub
git+https://github.com/cookbook-ms/Chung_Lu_Chain-synthesizer.git